[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "icons/.repositories/papirus-icon-theme"]
	path = icons/.repositories/papirus-icon-theme
	url = https://github.com/PapirusDevelopmentTeam/papirus-icon-theme.git
[submodule "themes/.repositories/arc-theme"]
	path = themes/.repositories/arc-theme
	url = https://github.com/horst3180/arc-theme.git
