[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".meta/dotbot"]
	path = .meta/dotbot
	url = https://github.com/anishathalye/dotbot.git
